* {
  margin: 0;
  padding: 0;
}

img {
  height: 400px;
  width: 100%;
}

.container {
  position: relative;
}

.left-btn,
.right-btn {
  position: absolute;
  padding: 0.5rem;
  top: 50%;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.left-btn {
  left: 1rem;
}

.right-btn {
  right: 1rem;
}
